<div class="timer">
  <p class="material-icons link" (click)="openDialog()">help</p>
  <p>Время прохождения теста {{ currentTime }} секунд</p>
  <div *ngFor="let result of results">
    <div *ngIf="result.time">
      {{ result.time }}
      {{ result.successResult }}
      {{ result.failResult }}
    </div>
  </div>
  <button
    (click)="startTesting.emit()"
    *ngIf="
      !results[results.length - 1] && !results[results.length - 1]?.isStarted
    "
  >
    Начать тестирование
  </button>
  <button
    (click)="startTesting.emit()"
    *ngIf="
      results[results.length - 1] && results[results.length - 1]?.isFinished
    "
  >
    Начать следующий тест
  </button>
  <button (click)="stopTesting.emit()">Закончить тест</button>
</div>
