<h2 mat-dialog-title>Тестирование по методике Шульте</h2>
<mat-dialog-content class="mat-typography">
  <h3>Назначение теста</h3>
  <p>
    Определение устойчивости внимания и динамики работоспособности. Используется
    для обследования лиц разных возрастов.
  </p>
  <h3>Описание теста</h3>
  <p>
    Испытуемому поочередно предлагается пять таблиц на которых в произвольном
    порядке расположены числа от 1 до 25. Испытуемый отыскивает, показывает и
    называет числа в порядке их возрастания. Проба повторяется с пятью разными
    таблицами.
  </p>
  <h3>Инструкция к тесту</h3>
  <p>
    Испытуемому предъявляют первую таблицу: «На этой таблице числа от 1 до 25
    расположены не по порядку». Затем таблицу закрывают и продолжают: «Покажи и
    назови все числа по порядку от 1 до 25. Постарайся делать это как можно
    быстрее и без ошибок». Таблицу открывают и одновременно с началом выполнения
    задания включают секундомер. Вторая, третья и последующие таблицы
    предъявляются без всяких инструкций.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true">Закрыть</button>
</mat-dialog-actions>
