<div class="row align-items-center">
  <div class="col-6 offset-3">
    <form class="row" [formGroup]="formGroup" (submit)="submit()">
      <h2>Регистрация</h2>
      <mat-form-field class="example-full-width col-12">
        <mat-label>Имя</mat-label>
        <input matInput placeholder="Введите имя" formControlName="name" />
      </mat-form-field>
      <mat-form-field class="example-full-width col-12">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Введите email"
          formControlName="email"
          type="email"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width col-12">
        <mat-label>Логин</mat-label>
        <input matInput placeholder="Введите логин" formControlName="login" />
      </mat-form-field>
      <mat-form-field class="example-full-width col-12">
        <mat-label>Пароль</mat-label>
        <input
          matInput
          placeholder="Введите пароль"
          formControlName="password"
          type="password"
        />
      </mat-form-field>
    </form>
    <div class="error mb-2" *ngIf="formGroup.errors?.loginOrPasswordNotCorrect">
      Некорректный логин или пароль
    </div>
    <button mat-raised-button (click)="submit()">Отправить</button>
  </div>
</div>
