<div class="row align-items-center">
  <div class="col-6 offset-3">
    <div class="timer">
      На прохождение теста осталось <span>{{ currentTime }}</span> секунд
    </div>
    <div class="row" *ngIf="!isStarted">
      <button mat-raised-button color="primary" (click)="start()">
        Начать тестирование
      </button>
    </div>
    <div class="row" *ngIf="!isFinished && isStarted">
      <ng-container *ngFor="let item of elements">
        <a
          class="col-2 col-bordered"
          [class.disabled]="isChoosen(item)"
          [class.success]="isSuccessed(item)"
          [class.error]="isErrored(item)"
          (click)="choose(item)"
        >
          {{ item }}
        </a>
      </ng-container>
    </div>
    <div class="result" *ngIf="isFinished">
      <div>
        Тест пройден за <span>{{ maxTime - currentTime }}</span> сек
      </div>
      <div>
        Успешно найдено <span>{{ successElements.length }}</span>
      </div>
      <div>
        Ошибок <span>{{ errorElements.length }}</span>
      </div>
    </div>
  </div>
</div>
