.col-bordered {
  border: 1px solid;
  color: white;
  background: cornflowerblue;
  padding: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  &.disabled {
    pointer-events: none;
  }
  &.success {
    background: rgb(33, 158, 81);
  }
  &.error {
    background: rgb(168, 36, 75);
  }
  &:focus,
  &:hover {
    text-decoration: none;
    background: rgb(61, 124, 240);
  }
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . ."
    ". . . . .";
}
